---
Checks: "
  -*,
  bugprone-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  readability-*,
  modernize-*,
  "
HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
FormatStyle: none
SystemHeaders: false
