<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="UMIUSI">

  <xacro:arg name="thruster_mode" default="'unknown'" />
  <xacro:arg name="high_beam_pin" default="'unknown'" />
  <xacro:arg name="low_beam_pin" default="'unknown'" />
  <xacro:arg name="ir_pin" default="'unknown'" />
  <xacro:arg name="indicator_led_pin" default="'unknown'" />
  <xacro:arg name="vesc1_id" default="'unknown'" />
  <xacro:arg name="vesc2_id" default="'unknown'" />
  <xacro:arg name="vesc3_id" default="'unknown'" />
  <xacro:arg name="vesc4_id" default="'unknown'" />

  <xacro:include filename="sinsei_umiusi_control.urdf.xacro" />

  <link name="base_link"></link>

  <xacro:sinsei_umiusi_control
    thruster_mode="$(arg thruster_mode)"
    high_beam_pin="$(arg high_beam_pin)"
    low_beam_pin="$(arg low_beam_pin)"
    ir_pin="$(arg ir_pin)"
    indicator_led_pin="$(arg indicator_led_pin)"
    vesc1_id="$(arg vesc1_id)"
    vesc2_id="$(arg vesc2_id)"
    vesc3_id="$(arg vesc3_id)"
    vesc4_id="$(arg vesc4_id)"
    mock="false"
  />

</robot>