<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="UMIUSI">

  <xacro:macro
    name="headlights"
    params="gpiochip_device high_beam_line_offset low_beam_line_offset ir_line_offset">
    <ros2_control name="headlights" type="system" is_async="true">
      <hardware>
        <plugin>sinsei_umiusi_control/hardware/Headlights</plugin>
        <param name="gpiochip_device">${gpiochip_device}</param>
        <param name="high_beam_line_offset">${high_beam_line_offset}</param>
        <param name="low_beam_line_offset">${low_beam_line_offset}</param>
        <param name="ir_line_offset">${ir_line_offset}</param>
      </hardware>

      <gpio name="headlights">
        <command_interface name="high_beam_enabled" data_type="double">
          <!-- false (Cannot use bool type due to ros2_control bug) -->
          <param name="initial_value">0.0</param>
        </command_interface>
        <command_interface name="low_beam_enabled" data_type="double">
          <!-- false (Cannot use bool type due to ros2_control bug) -->
          <param name="initial_value">0.0</param>
        </command_interface>
        <command_interface name="ir_enabled" data_type="double">
          <!-- false (Cannot use bool type due to ros2_control bug) -->
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="health" data_type="double">
          <!-- false (Cannot use bool type due to ros2_control bug) -->
          <param name="initial_value">0.0</param>
        </state_interface>
      </gpio>
    </ros2_control>
  </xacro:macro>

</robot>
