<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="UMIUSI">

  <xacro:macro name="headlights" params="high_beam_pin low_beam_pin ir_pin">
    <ros2_control name="headlights" type="system" is_async="true">
      <hardware>
        <plugin>sinsei_umiusi_control/hardware/Headlights</plugin>
        <param name="high_beam_pin">${high_beam_pin}</param>
        <param name="low_beam_pin">${low_beam_pin}</param>
        <param name="ir_pin">${ir_pin}</param>
      </hardware>

      <gpio name="headlights">
        <command_interface name="high_beam_enabled" data_type="double">
          <!-- false (Cannot use bool type due to ros2_control bug) -->
          <param name="initial_value">0.0</param>
        </command_interface>
        <command_interface name="low_beam_enabled" data_type="double">
          <!-- false (Cannot use bool type due to ros2_control bug) -->
          <param name="initial_value">0.0</param>
        </command_interface>
        <command_interface name="ir_enabled" data_type="double">
          <!-- false (Cannot use bool type due to ros2_control bug) -->
          <param name="initial_value">0.0</param>
        </command_interface>
        <state_interface name="health" data_type="double">
          <!-- false (Cannot use bool type due to ros2_control bug) -->
          <param name="initial_value">0.0</param>
        </state_interface>
      </gpio>
    </ros2_control>
  </xacro:macro>

</robot>
