<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="UMIUSI">
  <xacro:macro name="indicator_led">
    <ros2_control name="indicator_led" type="system">
      <hardware>
        <plugin>sinsei_umiusi_control/hardware/IndicatorLed</plugin>
      </hardware>
      <gpio name="indicator_led">
        <command_interface name="indicator_led/enabled" />
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>