<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="UMIUSI">
  <xacro:macro name="raspi_camera">
    <ros2_control name="raspi_camera" type="system">
      <hardware>
        <plugin>sinsei_umiusi_control/hardware/RaspiCamera</plugin>
      </hardware>
      <gpio name="raspi_camera">
        <command_interface name="raspi_camera/config" />
        <state_interface name="raspi_camera/image" />
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>