<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="UMIUSI">

  <xacro:macro name="thruster_direct">
    <xacro:macro name="thruster_direct" params="id">
      <xacro:property name="thruster_name" value="thruster_direct${id}" />
      <ros2_control name="${thruster_name}/servo" type="system">
        <hardware>
          <plugin>sinsei_umiusi_control/hardware/ServoDirect</plugin>
        </hardware>
        <gpio name="${thruster_name}/servo">
          <command_interface name="enabled" />
          <command_interface name="angle" />
          <state_interface name="state" />
        </gpio>
      </ros2_control>
      <ros2_control name="${thruster_name}/esc" type="system">
        <hardware>
          <plugin>sinsei_umiusi_control/hardware/EscDirect</plugin>
        </hardware>
        <gpio name="${thruster_name}/esc">
          <command_interface name="enabled" />
          <command_interface name="duty_cycle" />
          <state_interface name="health" />
        </gpio>
      </ros2_control>
    </xacro:macro>

    <xacro:thruster_direct id="1" />
    <xacro:thruster_direct id="2" />
    <xacro:thruster_direct id="3" />
    <xacro:thruster_direct id="4" />
  </xacro:macro>

</robot>
